<!-- HEADER -->
<div class="mb-5">
    <div class="flex align-items-center justify-content-between bg-white border-radius-table-header box-shadow"
         style="padding: 1.5rem;">
        <div style="text-align: left">
            <button
                    type="button"
                    pButton
                    icon="pi pi-plus-circle"
                    class="btn-primary border-radius-button"
                    (click)="showDialogToAdd()"
                    label="{{ 'btn_add' | translate }}"
            ></button>
        </div>
        <h5 class="m-0 cls_title">{{ "user_title" | translate }}</h5>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText
                   type="text"
                   (input)="dt.filterGlobal($event.target.value, 'contains')"
                   placeholder="{{ 'table_search' | translate }}"/>
        </span>
    </div>
</div>
<!-- ./HEADER -->
<!-- TABLE -->
<div class="d-flex justify-content-center">
    <div class="col-12 lg:col-10">
        <p-table
            #dt
            [value]="list"
            [(selection)]="entitySelect"
            [globalFilterFields]="['userLogin', 'userName', 'userEmail']"
            [paginator]="true"
            [rows]="rowsTables"
            [responsive]="true"
            [rowHover]="true"
            [showCurrentPageReport]="true"
            [loading]="loading"
            styleClass="p-datatable-gridlines"
            currentPageReportTemplate="{first} a {last} de {totalRecords} usuarios">
            <ng-template pTemplate="header">
                <tr>
                    <th class="cls_center" [pSortableColumn]="'userName'">
                        {{ "user_t_userName" | translate }}
                        <p-sortIcon [field]="'userName'"></p-sortIcon>
                    </th>
                    <th class="cls_center" [pSortableColumn]="'userLogin'">
                        {{ "user_t_userLogin" | translate }}
                        <p-sortIcon [field]="'userLogin'"></p-sortIcon>
                    </th>
                    <th class="cls_center" [pSortableColumn]="'userEmail'">
                        {{ "user_t_userEmail" | translate }}
                        <p-sortIcon [field]="'userEmail'"></p-sortIcon>
                    </th>
                    <th class="cls_center">
                        {{ "user_t_phoneNumber" | translate }}
                    </th>
                    <th class="cls_center">
                        {{ "user_t_accessType" | translate }}
                    </th>
                    <th style="width: 80px" class="cls_center">
                        {{ "user_t_inactive" | translate }}
                    </th>
                    <th style="width: 100px" class="cls_center">
                        {{ "actions" | translate }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-i="index">
                <tr [pSelectableRow]="rowData">
                    <td [ngClass]="{'box-shadow': i==list.length-1}">
                        {{ rowData.userName }}
                    </td>
                    <td [ngClass]="{'box-shadow': i==list.length-1}">
                        {{ rowData.userLogin }}
                    </td>
                    <td [ngClass]="{'box-shadow': i==list.length-1}">
                        {{ rowData.userEmail }}
                    </td>
                    <td [ngClass]="{'box-shadow': i==list.length-1}">
                        {{ rowData.phoneNumber }}
                    </td>
                    <td [ngClass]="{'box-shadow': i==list.length-1}">
                        {{ rowData.profile }}
                    </td>
                    <td class="cls_center" [ngClass]="{'box-shadow': i==list.length-1}">
                        <div class="{{ rowData.inactive ? 'status_inactive' : 'status_active' }}">
                            {{ (rowData.inactive ? "not" : "yes") | translate }}
                        </div>
                    </td>
                    <td [ngClass]="{'box-shadow': i==list.length-1}">
                        <button
                                pButton
                                type="button"
                                icon="pi pi-pencil"
                                [title]="'edit' | translate"
                                class="btn-icon-option"
                                (click)="showDialogToEdit($event, rowData)"
                        ></button>
                        <button
                                pButton
                                type="button"
                                icon="pi pi-eye"
                                [title]="'detail' | translate"
                                (click)="showDialogToView($event, rowData)"
                                class="p-button-outlined btn-icon-option-secondary"
                                style="margin-left: 5px"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<!-- ./TABLE -->
<!-- MODAL -->
<p-dialog
        *ngIf="entity"
        [header]="(isView ? 'detail': (entity.userId==null? 'register': 'edit')) | translate"
        [(visible)]="displayDialog"
        [modal]="true"
        (onHide)="frm.reset()"
        [style]="{ width: '700px' }">
    <div class="ui-fluid">
        <form #frm="ngForm" (ngSubmit)="onSubmit()">
            <div class="card card-without-box-shadow" *ngIf="entity">
                <div class="grid p-fluid">
                    <div class="col-12">
                        <div class="col-12">
                            <label class="ColorLabel">{{ "user_t_profile" | translate }} (*)</label>
                            <div class="H3p"></div>
                            <p-dropdown
                                #profileId="ngModel"
                                [options]="profilesDropDownList"
                                id="profileId"
                                [(ngModel)]="entity.profileId"
                                [readonly]="isView"
                                [required]="true"
                                [filter]="true"
                                filterBy="label"
                                [showClear]="true"
                                name="profileId">
                            </p-dropdown>
                            <div *ngIf="!profileId.valid && (profileId.dirty || profileId.touched)">
                                <p-message
                                        *ngIf="profileId.hasError('required')"
                                        severity="error"
                                        text="{{ 'cmpReq'|translate }}"></p-message>
                                <p-message
                                        *ngIf="profileId.errors?.['minlength']"
                                        severity="error"
                                        text="{{ 'cmpMin'|translate }} 4"></p-message>
                            </div>
                        </div>
                        <div class="col-12">
                            <samp class="p-float-label">
                                <input
                                    #userLogin="ngModel"
                                    type="text"
                                    id="iduserlogin"
                                    [(ngModel)]="entity.userLogin"
                                    name="userLogin"
                                    pInputText
                                    required
                                    autocomplete="off"
                                    validateLoginUser
                                    minlength="4"
                                    maxlength="20"
                                    [readOnly]="isView"/>
                                <label for="iduserlogin">{{ "user_t_userLogin" | translate }} (*)</label>
                            </samp>
                            <div *ngIf="!userLogin.valid && (userLogin.dirty || userLogin.touched)">
                                <p-message
                                        *ngIf="userLogin.hasError('required')"
                                        severity="error"
                                        text="{{ 'cmpReq'|translate }}"
                                ></p-message>
                                <p-message
                                        *ngIf="userLogin.errors?.['minlength']"
                                        severity="error"
                                        text="{{ 'cmpMin'|translate }} 4"
                                ></p-message>
                            </div>
                        </div>
                        <div class="col-12">
                            <samp class="p-float-label">
                                <input #userName="ngModel"
                                       type="text"
                                       id="idusername"
                                       [(ngModel)]="entity.userName"
                                       name="userName"
                                       pInputText
                                       required
                                       autocomplete="off"
                                       validateAlphaSpace
                                       minlength="4"
                                       maxlength="50"
                                       [readOnly]="isView"/>
                                <label for="idusername">{{ "user_t_userName" | translate }} (*)</label>
                            </samp>
                            <div *ngIf="!userName.valid && (userName.dirty || userName.touched)">
                                <p-message
                                        *ngIf="userName.hasError('required')"
                                        severity="error"
                                        text="{{ 'cmpReq'|translate }}"
                                ></p-message>
                                <p-message
                                        *ngIf="userName.errors?.['minlength']"
                                        severity="error"
                                        text="{{ 'cmpMin'|translate }} 4"
                                ></p-message>
                            </div>
                        </div>
                        <div class="col-12">
                            <samp class="p-float-label">
                                <input #userEmail="ngModel"
                                       type="email"
                                       id="iduserEmail"
                                       [(ngModel)]="entity.userEmail"
                                       name="userEmail"
                                       pInputText
                                       required
                                       autocomplete="off"
                                       minlength="5"
                                       maxlength="100"
                                       [readOnly]="isView"/>
                                <label for="iduserEmail">{{ "user_t_userEmail" | translate }} (*)</label>
                            </samp>
                            <div *ngIf="!userEmail.valid && (userEmail.dirty || userEmail.touched)">
                                <p-message
                                        *ngIf="userEmail.hasError('required')"
                                        severity="error"
                                        text="{{ 'cmpReq'|translate }}"
                                ></p-message>
                                <p-message
                                        *ngIf="userEmail.errors?.['minlength']"
                                        severity="error"
                                        text="{{ 'cmpMin'|translate }} 5"
                                ></p-message>
                            </div>
                        </div>
                        <div class="col-12">
                            <samp class="p-float-label">
                                <input
                                    #phoneNumber="ngModel"
                                    type="text"
                                    id="idphoneNumber"
                                    [(ngModel)]="entity.phoneNumber"
                                    name="phoneNumber"
                                    pInputText
                                    autocomplete="off"
                                    validateNumeric
                                    maxlength="15"
                                    [readOnly]="isView"/>
                                <label for="idphoneNumber">{{ "user_t_phoneNumber" | translate }}</label>
                            </samp>
                        </div>
                        <div class="col-12" *ngIf="entity.userId">
                            <label class="ColorLabel">{{ "user_t_inactive" | translate }} (*)</label>
                            <div class="H3p"></div>
                            <p-selectButton #inactive="ngModel"
                                            id="idinactive"
                                            [options]="[{label: 'yes'|translate, value: false},{label: 'not'|translate, value: true}]"
                                            [(ngModel)]="entity.inactive"
                                            [disabled]="isView"
                                            name="inactive">
                            </p-selectButton>
                        </div>
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="cls_center">
                    <div class="DIB" *ngIf="!isView">
                        <button
                                type="submit"
                                pButton
                                icon="pi pi-check"
                                label="{{ 'save' | translate }}"
                                [disabled]="!frm.valid || submitted"
                                style="margin-right: 0.25em"
                                class="btn-primary"
                        ></button>
                    </div>
                    <div class="DIB">
                        <button
                                type="button"
                                pButton
                                icon="pi pi-times"
                                (click)="close()"
                                label="{{ 'cancel' | translate }}"
                                class="p-button-outlined p-button-outlined-hover"
                        ></button>
                    </div>
                </div>
            </p-footer>
        </form>
    </div>
</p-dialog>
<!-- ./MODAL -->