<!--<div class="card-dynamic-hipermaxi-body">-->
<!--    <img src="assets/images/card-hiper-secundary.png" alt="logo-hiper-back" style="z-index: 1;">-->
<!--    <img src="assets/images/card-hiper-main.png" alt="logo-hiper" style="z-index: 2;">-->
<!--</div>-->

<div class="imagen-container" [style.height]="heigh" [style.width]="width">
    <img src="assets/images/card-hiper-main.png" alt="Imagen 2" class="imagen-encima">
    <img src="assets/images/card-hiper-secundary.png" alt="Imagen 1" class="imagen-detras">
</div>