$color_primario: #3F2A2B;
$color_primario_transparente: rgba(63, 42, 43, 0.3);
$color_primario_oscuro: #302021;
$color_secundario: #1769aa;
$color_terciario: #4baaf5;
$color_red: #c50505;
$color_red_transparente: rgba(197, 5, 5, 0.3);
$color_sombreado: #f4fafe;
$color_white: #ffffff;
$color_white_secundario: #eeeeee;

$color_primario_hiper: #E59F71;
$color_primario_hiper_transparente: rgba(229, 159, 113, 0.3);