<!-- HEADER -->
<div class="mb-5">
    <div class="flex align-items-center justify-content-between bg-white border-radius-table-header box-shadow"
         style="padding: 1.5rem;">
        <div style="text-align: left">
            <button
                    type="button"
                    pButton
                    icon="pi pi-plus-circle"
                    class="btn-primary border-radius-button"
                    (click)="onClickAddCancion()"
                    label="Agregar Canción"
            ></button>
        </div>
        <h5 class="m-0 cls_title">CANCIONES</h5>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText
                   type="text"
                   (input)="dt.filterGlobal($event.target.value, 'contains')"
                   placeholder="Buscar por nombre..."/>
        </span>
    </div>
</div>
<!-- ./HEADER -->
<!-- TABLE -->
<div class="d-flex justify-content-center">
    <div class="col-12 lg:col-10">
        <p-table
            #dt
            [value]="canciones"
            [paginator]="true"
            [rows]="rowsTables"
            [responsive]="true"
            [rowHover]="true"
            [showCurrentPageReport]="true"
            [loading]="loading"
            styleClass="p-datatable-gridlines"
            currentPageReportTemplate="{first} a {last} de {totalRecords} canciones">
            <ng-template pTemplate="header">
                <tr>
                    <th class="cls_center" [pSortableColumn]="'idCancion'">
                        Nro.
                        <p-sortIcon [field]="'idCancion'"></p-sortIcon>
                    </th>
                    <th class="cls_center" [pSortableColumn]="'nombre'">
                        Nombre
                        <p-sortIcon [field]="'nombre'"></p-sortIcon>
                    </th>
                    <th class="cls_center" [pSortableColumn]="'descripcion'">
                        Descripción
                        <p-sortIcon [field]="'descripcion'"></p-sortIcon>
                    </th>
                    <th style="width: 100px" class="cls_center">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cancion let-i="index">
                <tr>
                    <td [ngClass]="{'box-shadow': i==cancion.length-1}">
                        {{ cancion.idCancion }}
                    </td>
                    <td [ngClass]="{'box-shadow': i==cancion.length-1}">
                        {{ cancion.nombre }}
                    </td>
                    <td [ngClass]="{'box-shadow': i==cancion.length-1}">
                        {{ cancion.descripcion }}
                    </td>
                    <td [ngClass]="{'box-shadow': i==cancion.length-1}">
                        <button
                                pButton
                                type="button"
                                icon="pi pi-pencil"
                                [title]="'Editar usuario'"
                                class="btn-icon-option"
                                (click)="onClickShowDialogToEdit(cancion)"
                        ></button>
                        <button
                                pButton
                                type="button"
                                icon="pi pi-eye"
                                [title]="'Detalle de usuario'"
                                (click)="onClickShowDialogToView(cancion)"
                                class="p-button-outlined btn-icon-option-secondary"
                                style="margin-left: 5px"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<!-- ./TABLE -->
<!-- MODAL -->
<p-dialog
        *ngIf="cancion"
        [header]="isView ? 'Detalle canción': (cancion.idCancion==null? 'Registrar canción': 'Editar canción')"
        [(visible)]="displayDialog"
        [modal]="true"
        (close)="closeDialog()"
        [style]="{ width: '700px' }">
    <div class="ui-fluid">
        <form #frm="ngForm" (ngSubmit)="onSubmitCancion()">
            <div class="card card-without-box-shadow">
                <div class="grid p-fluid">
                    <div class="col-12">
                        <div class="col-12">
                            <samp class="p-float-label">
                                <input
                                    #nombreCanc="ngModel"
                                    type="text"
                                    id="nombreCanc"
                                    [(ngModel)]="cancion.nombre"
                                    name="nombreCanc"
                                    pInputText
                                    required
                                    autocomplete="off"
                                    minlength="4"
                                    maxlength="50"
                                    [readOnly]="isView"/>
                                <label for="nombreCanc">Nombre (*)</label>
                            </samp>
                            <div *ngIf="!nombreCanc.valid && (nombreCanc.dirty || nombreCanc.touched)">
                                <p-message *ngIf="nombreCanc.hasError('required')"
                                           severity="error"
                                           text="{{ 'cmpReq'|translate }}"></p-message>
                                <p-message *ngIf="nombreCanc.errors?.['minlength']"
                                           severity="error"
                                           text="{{ 'cmpMin'|translate }} 4"></p-message>
                            </div>
                        </div>
                        <div class="col-12">
                            <samp class="p-float-label">
                            <textarea
                                    [rows]="10"
                                    #descripcionCanc="ngModel"
                                    type="text"
                                    [(ngModel)]="cancion.descripcion"
                                    minlength="1"
                                    maxlength="400"
                                    id="descripcionCanc"
                                    [readOnly]="isView"
                                    required
                                    autocomplete="off"
                                    name="descripcionCanc"
                                    pInputTextarea
                            ></textarea>
                                <label for="descripcionCanc">Descripción (*)</label>
                            </samp>
                            <div *ngIf="!descripcionCanc.valid && (descripcionCanc.dirty || descripcionCanc.touched)">
                                <p-message *ngIf="descripcionCanc.hasError('required')"
                                           severity="error" text="{{ 'cmpReq' | translate }}"></p-message>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="cls_center">
                    <button
                            type="submit"
                            pButton
                            icon="pi pi-check"
                            label="Guardar"
                            [disabled]="!frm.valid"
                            style="margin-right: 0.25em"
                            class="btn-primary"
                    ></button>
                    <button
                            type="button"
                            pButton
                            icon="pi pi-times"
                            (click)="onClickCancelDialog()"
                            label="Cancelar"
                            class="p-button-outlined p-button-outlined-hover"
                    ></button>
                </div>
            </p-footer>
        </form>
    </div>
</p-dialog>
<!-- ./MODAL -->
<!-- CONFIRM_DIALOG -->
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
                 [acceptButtonStyleClass]="'btn-primary'"
                 [rejectButtonStyleClass]="'btn-secondary'" [acceptLabel]="'yes' | translate"
                 [rejectLabel]="'not' | translate">
</p-confirmDialog>
<!-- ./CONFIRM_DIALOG -->
